@import
url("https://fonts.google.com/specimen/Figtree");

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    /* width:1440px;
    height:960px; */
}
#container{
    display:flex;
    flex:auto;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 25px;
    width:384px;
    height:522px;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px;
}
#top{
    width:336px;
    height:200px;
    margin-top: -70px;
    border-radius: 10px;
}
#learning{
    padding:7px;
    margin:5px;
    margin-top:20px;
    margin-left:0px;
    width: max-content;
    background-color: hsl(47, 88%, 63%);
    border-radius:4px;
    font-weight:600;
    color:hsl(0, 0%, 7%);
}
p{
    margin:5px;
    margin-left:0px;
}
#publishDate{
    margin-top: 10px;
}
#text{
    margin:10px 0px;
    font-size: 16px;
}
#publishDate,#text{
    color:hsl(0, 0%, 42%);    
}
#topic{
    color:hsl(0, 0%, 7%);
    margin:15px 0px;
    font-weight: 800;
    font-size: 20px;
}
#user{
    display:flex;
    margin:5px 0px;
    margin-left:0px;
    align-items: center;
}
#user p{
    font-weight:800;
    margin-left: 5px;
}
#allText{
    width:336px;
    height:194px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#avatar{
    width:30px;
}
.attribution{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#publishDate:hover, #text:hover{
    color:yellow;
}
#topic:hover{
    color:hsl(47, 88%, 63%);    
}
#learning:hover{
    color:hsl(47, 88%, 63%);
    background:hsl(0, 0%, 7%);;
}
#user p:hover{
    color:yellow;
}
